
@{
    ViewBag.Title = "Countries";
}

<h1>Країни</h1>
<table>
    <tr>
        <td><img src="https://joinup.ua/content/uploads/2014/08/Avstriya.jpg" alt="Австрія"></td>
        <td>Австрия — лакомый кусочек для любителей насыщенного отдыха. Это одна из самых интересных и красивых стран Центральной Европы. Не зря ее называют страной альпийских вершин, лугов, горных озер и прохладных лесов — здесь просто невозможно отвести взгляд от красот, которые вдохновляют и окрыляют! Австрия — страна контрастов, и как бы вы не любили отдыхать — вы все равно найдете здесь для себя что-то интересное.</td>
    </tr>
    <tr>
        <td> <img src="https://joinup.ua/content/uploads/2014/01/egypt1.png" alt="Египет"> </td>
        <td>Египет — одно из самых популярных направлений среди украинцев. Уже который год наши соотечественники колесят по этой дивной стране и отдыхают на берегу Красного моря — кажется, что о Египте уже известно все. Но нет! Туроператор Join UP! откроет для вас Египет заново! Вы увидите его таким, каким никогда не видели прежде! Смените пассивный отдых на пляже на череду незабываемых впечатлений от нового Египта! Join UP! против шаблонов, зато за качественный, интересный и неповторимый отдых. Поэтому в Египте туроператор нашел самые удивительные места для развлечений и предлагает открыть новые грани такой знакомой, но все же неизведанной страны.</td>
    </tr>
    <tr>
        <td> <img src="https://joinup.ua/content/uploads/2015/03/ssha.jpg" alt="США"> </td>
        <td>
            США — это страна большого природного и культурного наследия, грандиозных возможностей и высочайшего уровня развития. Простираясь от Атлантического океана до Тихого, она предлагает великое множество вариантов путешествия от осмотра разнообразных исторических и культурных достопримечательностей до спокойного и комфортного отдыха на роскошных пляжах Флориды или Гавайских островов.
        </td>
    </tr>
    <tr>
        <td> <img src="https://joinup.ua/content/uploads/2015/03/germaniya.jpg" alt="Германия" srcset=""> </td>
        <td>Побывав в Германии, вы точно перестанете опаздывать и будете всегда помнить, где вы положили вещи: ключи, телефон, пульт, тапочки – больше не потеряются. Ведь Германия просто заряжает педантизмом и аккуратностью, упорядоченный стиль жизни и работы здесь в порядке вещей. И в этом ее прелесть! Хотя, не вся Германия такая. Вспомните настоящих немецких болельщиков! Их просто не оттащить от прямо таки гипнотического созерцания матчей любимых команд, после которых следует бурное и безудержное празднование!</td>
    </tr>
    <tr>
        <td> <img src="https://joinup.ua/content/uploads/2014/01/greece1.png" alt="" srcset=""> </td>
        <td>Греция – страна, которая будет удивлять снов а и снова, как бы хорошо вы ее не знали. Вне зависимости от того впервые вы в Греции или посещаете ее уже далеко не первый раз – она все равно сможет открыть новые грани и секреты. Она – как изысканная женщина, которая прекрасна и неповторима в любом возрасте.</td>
    </tr>
</table>

